body {
    background-color: black
}

p {
    padding: 10px;
    font-size: 25px;
    color: azure;
    
}

h1 {
    font-size: 150px;
    color: azure;
    text-align: center;
    
}

h2 {
    font-size: 35px;
    color: azure;
    text-align: center; 
    
}

p2 {
    color: azure;
    padding-left: 70px;
    font-size: 50px;
    font-size: 4vw;

}

.opp-rows {
   padding-bottom: 20px;
   padding-top: 20px;
   
}

.top-row {
    padding-top: 60px;
    padding-bottom: 10px;
}



h3 {
    color: azure;
}

p1 {
    font-size: 40px;
    color: azure;
}

.score {
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-top-color: azure;
    border-bottom-color: azure;
    border-right: 0;
    border-left: 0;
    margin-bottom: 10px;
    margin-top: 20px;
    
}

.header-img {
    padding-left: 60px;
    padding-top: 40px;
    padding-right: 60px;
}

.select-row {
    padding-bottom: 10px;
}

.score-x {
    float: right;
    padding-right: 50px;

}

.btn {
    border-color: azure;
    color: black;   
    float: left;
    margin-bottom: 10px;

}

#img1 {
    width: 300px;
    float: right;
}

.img-thumbnail {
    border-radius: 0;
}

.opp {
    float: right;
}

h4 {
    float: right;
    color: azure;
    margin-right: 10px;

}

h5 {
    float: left;
    color: azure;
    font-size: 20px;
}

h6 {
    float: right;
    color: azure;
    font-size: 20px;
}

#hp-board {
    float: right;

}

#opponent-hp {
    color: azure;
    font-size: 40px;
    float: left;

}

#theBoys-hp {
    color: azure;
    font-size: 40px;
    float: right;
 
}

.adjust {
    padding-top: 37px;
}

.img-thumbnail {
    margin-bottom: 15px;
}